
<%= content_for(:mailer_header) do %>
  <h3><%= link_to @alert.name, matched_alert_feed_entries_url(@alert.id) %> </h3>
  
  <p style='color:gray; font-size: 90%; font-style:italic;'>
    <a href='<%= @alert.url %>'> <%= @alert.url %> </a>
  </p>

  <p style='color:gray; font-size: 90%; font-style:italic;'>
    <b><%= @search_highlight.size %></b> feed entries that matched the keywords criteria
    <b><%= "#{@group_name}" %></b>
  </p>
<% end %>

<% @search_highlight.each do |search_highlight| %>
  <% feed_entry_highlight = FeedEntryHighlight.new(search_highlight) %>
  <p>
    <h4 class='feed-title'> 
      <%= link_to feed_entry_highlight.title.html_safe, feed_entry_highlight.url %>
    </h4>
    <p style='color:gray; font-size: 90%; font-style:italic;'>
      <%= feed_entry_highlight.keywords %>
      <%= link_to "Original source", feed_entry_highlight.url %> |
      <%= link_to "View on #{ENV['APP_NAME']}", alert_feed_entry_url(@alert, feed_entry_highlight.id) %>
    </p>
    
    <%= feed_entry_highlight.description.html_safe %>
  </p>
<% end %>