<% content_for(:title) { "National gateway"} %>
<% breadcrumb_buffer([{
    "National gateway": nil
  }]) %>

<div class='header-wrapper clearfix'>

  <div class='pull-left'>
    <h3 class='header-title'> List of projects connect with national gateway </h3>
  </div>
  <div class="pull-right">
    <%= link_new 'Assign new project to national gateway', new_channel_access_path %>
  </div>  
</div>

<%= render 'search_user' %>

<div class="panel panel-info">

  <table class='table table-responsive'>
    <thead>
      <tr>
        <td>Account</td>
        <td>Project</td>
        <% national_gateway_channels.each do |channel| %>
        <td><%= channel.name %></td>
        <% end %>       
      </tr>
    </thead>
    <tbody>
      <% @rows.each do |row| %>
      <tr>
        <td><%= row[0].email %></td>
        <td><%= row[1].name %></td>
        <%= form_for @channel_access, url: national_gateway_channel_accesses_path(@channel_access) do |f| %>
          <%= f.hidden_field :project_id, value: row[1].id %>          
          <% (row.size - 2).times.each do |i| %>
            <td>
              <% if row[i+2] %>
                <%= f.check_box(:channel_id, { :multiple => true, :checked => true, :onclick => "javascript:submit();"}, national_gateway_channels[i].id, nil) %>
              <% else %>
                <%= f.check_box(:channel_id, { :multiple => true, :onclick => "javascript:submit();" }, national_gateway_channels[i].id, nil) %>
              <% end -%>
            </td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%= paginate_for(@projects)%>
